* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    color: #d9d9d9;
    font-family: 'Open Sans', sans-serif;
    transition: all .2s linear;
}

/* header start */
:root{
    --gradient:linear-gradient(90deg, #f1c40f, #f39c12);
    --gradient-2:linear-gradient(90deg, #f1c40f,#cca107, #f39c12);
    --color-black:#000;
    --color-white:#fff;
}
*::selection{
    background:#f39c12;
    color:#080808;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width:1.5rem;
}

html::-webkit-scrollbar-track{
    background:#333;
}

html::-webkit-scrollbar-thumb{
    background:linear-gradient(#f1c40f, #f39c12);
}
/* .heading{
    color:#444;
    padding:1rem;
    font-size: 4rem;
    text-align: center;
} */
body{
    background-color: #f8f9ff;
}
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0; left: 0;
    z-index: 1000;
    padding:1.5rem 7%;
    background:var(--gradient);
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
}

header .logo{
    color: #fff;
    font-size: 2.5rem;
    text-decoration: none;
}
header .logo .fas{
    color: #fff;
    padding-right: 5px;
    font-size: 30px;
    text-decoration: none;
}

header .navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

header .navbar ul li{
    margin:0 3rem;
}

header .navbar ul li a{
    font-size: 2rem;
    color:#fff;
    text-decoration: none;
}

header .navbar ul li a:hover{
    color:#444;
}

.logout{
    font-size: 2rem;
    color:#fff;
    text-decoration: none;
}
.logout:hover{
    color:#444;
}

header #menu{
    font-size: 3rem;
    color:#fff;
    cursor: pointer;
    display: none;
}
@media (max-width:768px){

    html{
        font-size: 55%;
    }

    header #menu{
        display: block;
    }

    header .navbar{
        position: fixed;
        top:-120%; left:0;
        width:100%;
        background:#444;
    }

    header .navbar ul{
        flex-flow: column;
        padding:2rem 0;
    }

    header .navbar ul li{
        margin:1.5rem 0;
        text-align: center;
        width:100%;
    }

    header .navbar ul li a{
        font-size: 2.5rem;
        display: block;
    }

    header .navbar ul li a.active,
    header .navbar ul li a:hover{
        color:#f39c12;
    }

    .fa-times{
        transform: rotate(180deg);
    }

    header .navbar.nav-toggle{
        top:6.4rem;
    }
}


/* header end */

/* body dùng chung */
/* body{
    margin-top: 80px;
    background:#d6dbe1 ;
} */
/* body dùng chung */

/* slide show start */
#slide-show{
    margin-top: 65px;
    height: 60vh;
    display: flex;
    justify-content: center;
}
.slider{
    margin: top 0;;
    width:1530px;
    height: 450px;
    overflow: hidden;
}
.slides{
    width: 1530px;
    height: 450px;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    /* width: 80%; */
    transition: 2s;
}
.slide img{
    width: 1530px ;
    height: 450px;
}
.navigation-manual{
    position: absolute;
    width: 1500px;
    display: flex;
    justify-content: center;
    margin-top: 450px;
}
.manual-btn{
    
    border:2px solid #1e2f41;
    padding: 6px;
    border-radius: 30px;
    cursor: pointer;
    transition: 2s;
}
.manual-btn:not(:last-child){
    margin-right: 20px
}
.manual-btn:hover{
    background:#1e2f41;
}

#radio1:checked ~ .first{
    margin-left:0;
}
#radio2:checked ~ .first{
    margin-left:-100%;
}
#radio3:checked ~ .first{
    margin-left:-200%;
}
#radio4:checked ~ .first{
    margin-left:-300%;
}
.navigation-auto{
    position: absolute;
    display: flex;
    width: 1500px;
    justify-content: center;
    margin-top: 450px;
}
.navigation-auto div{
    border: 2px solid #1e2f41;
    padding: 6px;
    border-radius:30px;
    transition: 2s;
}
.navigation-auto div:not(:last-child){
    margin-right: 20px;
}
#radio1:checked ~ .navigation-auto .auto-btnl{
    background:#1e2f41 ;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background:#1e2f41 ;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background:#1e2f41 ;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background:#1e2f41 ;
}
/*side end */

/* introduce start */
.introduce{
    width: 100%;
    min-height: 100vh;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 20px;
    text-align: center;
    color:black;
   
    padding-bottom: 80px;
    /* background-image: url(../image/about-bg.png);
    background-repeat: no-repeat;
    background-size: cover; */
  
}
.introduce h1{
    margin-top: 5rem;
    padding-top: 20px;
    font-size: 40px;
    font-weight: 400;
    color:black;
    font-family: Florence, cursive;
    animation: moveright 1s linear 1;
    animation-delay: 1.5s;
    visibility: hidden;
    animation-fill-mode: forwards;
}
.introduce h2{
    padding: 10px;
    font-size: 30px;
    /* color: #3366CC ; */
    color:black;
    font-family: Florence, cursive;
    animation: moveright 1s linear 1;
    animation-delay: 2s;
    visibility: hidden;
    animation-fill-mode: forwards;
}
.introduce .far{
    /* color: #3366CC ; */
    color:black;
    padding: 5px;
}

@keyframes moveright {
    0%{
        transform: translateX(-100px);
        visibility: visible;
    }
    100%{
        transform: translateX(0);
        visibility: visible;
    }
}
.gioithieu h3{
    padding-top: 150px;
}
.gioithieu h3 span{
    font-size: 5.5rem;
    background: rgba(255, 165, 0, .2);
    color: #f39c12;
    border-radius: .5rem;
    padding: 10px;
    
}
.gioithieu h3 .space{
    background: none;
    font-size: 30px;
}
.row{
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col{
    flex-basis: 28%;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    cursor: pointer;
    min-width: 230px;
    margin-bottom: 20px;
    z-index: 2;
} 
.profile{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background:white;
}
.profile img{
    width: 100%;
}
.profile h4{
    margin: 25px 0 10px ;
    font-weight: 500px;
    font-size: 30px;
    color: black;
}
.profile p{
    margin-bottom: 10px;
    /* color:#da633a; */
    color: black;
    font-size: 20px;
    font-weight: 200;

}
.col::before,.col::after{
    content: '';
    height: 0;
    width: 0;
    background:linear-gradient(100deg, #87adfe, #ebaf2e) ;
    position: absolute;
    z-index: -1;
    animation: none;
}
.col::before{
    left: 0;
    top: -8px;
}
.col::after{
    right: 0;
    bottom: -8px;
}
@keyframes stroke {
    0%{
        height: 8px;
        width: 0px;
    }
    50%{
        height: 8px;
        width: calc(100% + 8px);
    }
    100%{
        height:calc(100% + 16px);
        width: calc(100% + 8px);
    }   
}
.col:hover::before, .col:hover::after {
    animation: stroke 0.5s linear;
    animation-fill-mode: forwards;
}
/* introduce end */

/* ===========mon hoc begin ========= */
.product{
    background-image: url(../image/trangchu/hinhnen_icon.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}
.container{
    max-width: 1024px;
    margin:0 auto;
    
}
.title_h1{
    padding: 5rem 0;
    text-align:center;
    margin:20px 0 30px;
    position:relative;
    font-size:5rem;
    color: #e78f1b;

}
.product_item_big{
    border-radius: 10px;
    width:280px;
    height:320px;
    box-shadow: 3px 3px 2px 2px #87adfe;
    -moz-box-shadow:    3px 3px 2px 2px #f3b50a;
    -webkit-box-shadow: 3px 3px 2px 2px #f3b50a;
    /* background-image: url(../image/27620.PNG); */
    /* 109.6deg */
    background-image: linear-gradient( 170deg,  rgba(48,207,208,1) 11.2%, rgba(51,8,103,1) 92.5% );
    background-repeat: no-repeat;
    background-size: cover;
  
}
.product-content-item{
    width: 160px;
   height: 200px;
   text-align: center;
 
   margin:0 auto;
   padding-top: 20px;
}
.product-content-item img{
    height: 160px;
    width: 160px;
    line-height: 160px;
   
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
   
}
.title_h1::after{
    position: absolute;
    content:"";
    display:block;
    height:5px;
    width:100px;
    background-color: tomato;
    border-radius:5px;
    left:50%;
    transform:translateX(-50%);
}
.owl-nav{
    position: relative;
    width:100%;
    display: flex;
    justify-content:space-between;
    top:-15rem;
    transform: translateY(-50%);
    background-color: transparent;
    
}
.owl-nav .owl-prev span,
.owl-nav .owl-next span{
    color: #15b9d6;
    font-size: 7rem;
}
.owl-dots{
    margin-top: -80px;
    margin-bottom: 80px;
}
.owl-dots span{
    background-color: #596ee0!important;
    opacity: 0.7;

}
.owl-dots .active span{
    background-color:  #fc0f07!important;
   
}

.product-content-item .social{
    display: none;
}
.product-content-item:hover .social{
    display: block;
}
.bottom_text{
    text-align: center;
}
.bottom_text h3{
    font-size: 1.8rem;
    color:#000;

}
.bottom_text p{
    margin-top: 10px;
    font-size: 2.6rem;
    color:#fdfcfc;
    margin-bottom: 10px;

}
.bottom_text .social a span{
    height: 30px;
    width: 30px;
    background: #e7c4b5;
    color: #f26d35 ;
    line-height: 30px;
    text-align: center;
    font-size: 15px;
    border-radius: 5px ;
    transition: 0.3s;
}
.bottom_text .social a span:hover{
    background: #f26d35;
    color:  #e7c4b5;
}
/* ===========mon hoc end ========= */
/* about begin */
.bg-1{
    background: url(../image/trangchu/about-bg.png) cover no-repeat;
    width:1200px;
    height:auto;
}
.about-item .btn{
    background-color: transparent;
    padding:15px 30px;
    border: 2px solid#cf521c;
    border-radius: 50px;
    color: #ec591a;
    cursor: pointer;
    transition: all 0.3s ease;
}
.about-item .btn:hover{
    background-color: #fff;
}
.row-margin{
    margin-top:20px;
}
.about{
    background-image: url(../image/trangchu/about-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
   
   
}
.about .about-item img{
    width:100%;
    height:80%;
    border-radius: 10px;
}
.about-item{
    width:calc(100%/2);
}
.section-title{
    width:100%;
    text-align: center;
}
.section-title h2{
    /* padding: 5rem 0; */
    text-align:center;
    margin:20px 0 30px;
    position:relative;
    font-size:4rem;
    color: #e97617;
}
.section-title h2::after{
    position: absolute;
    content:"";
    display:block;
    height:4px;
    width:100px;
    background-color: tomato;
    border-radius:5px;
    left:50%;
    transform:translateX(-50%);
}
.section-title h2::before{
    content:attr(data-title);
    display:block;
    color: #12ecf3;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
}

.about-item h2,.about-item p{
    font-size: 2rem;
    color: var(--color-black);
  
}
.about-item h2{
    font-size: 2.6rem;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    color: #08276b;
    
}
.about-item p{
    font-size: 1.7rem;
  
}
.about-item{
    width:calc(100%/2);
    padding: 7px;
}
/* about-end */
/* --sukien-begin-- */

.event {
    padding: 50px 0;
    margin-top:50px;
    margin-bottom:100px;
}
.event+.event{
     background-image: url(../image/trangchu/about-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
     
}
.event-container {
    max-width: 1024px;
    margin: auto;
    
}
.event-row {
    display: flex;
    flex-wrap: wrap;
}
.event h1 {
    text-align:center;
    margin:20px 0 30px;
    position:relative;
    font-size:4rem;
    color: #e97617;
}
.event h1:after{
    position: absolute;
    content:"";
    display:block;
    height:5px;
    width:180px;
    background-color: tomato;
    border-radius:5px;
    left:50%;
    transform:translateX(-50%);
}
.event-items {
    justify-content: space-between;
    margin-top: 80px;
}
.event-item {
    border-radius: 10px;
    width: 30%;
    text-align: center;
    background-color: #ecd3cb;
    transition: all 0.5s ease;
    border-radius: 5px;
    
}
.event-item:hover {
    box-shadow: 5px 5px 5px 5px #d1ddfa;
}
.event-item h2 {
    margin-bottom: 12px;
    font-size: 2rem;
   
    color: var(--color-black);
}
.event-item p {
    font-size: 1.5rem;
    color: var(--color-black);
    margin-bottom: 10px;
}
.event-img{
    width:50px;
    height:200px;
    border-radius: 10px;
}
.event-img img{
    width:100%;
    height:200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.event_flex_mini{
    display: flex;
}
.event_flex_mini a{
    justify-content:space-between;
    flex: 1;
   
}
.event_flex_mini a span{
    font-size: 1.5rem;
    color: #000;
    text-decoration: none;
    margin-left: -10px;
    position: relative;
    top:-6px;
}
.event_flex_mini a:last-child img{
    padding-top: 10px;
    width:79%;
    height: 80%;
    position: relative;
    right:-13px;
}
.event_flex_mini a:first-child img{
    width:35px;
    height:35px;
    border-radius: 50%;
    position: relative;
    top:3px;
    left:-19px;
}

/*--sukien-end---*/

/* footer start */
footer{
    margin: 150px 0 0;
    position: relative;
    bottom: 0px;
    width: 100%;
    background-image:url('../image/footer-bg.png');
    /* padding: 80px; */
}
.main-content{
    display: flex;
}
.main-content h5{
    color:#000;
}
.box{
    flex-basis: 50%;
    padding: 10px 20px;
}
.box a{
    padding: 20px ;
    text-align: justify;
    font-size: 20px;
    text-decoration:none;
    color:#000;
}
.box h2{
    padding-top: 20px;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    color:#000;
}
.box .content{
    margin: 20px 0 0 0;
    position: relative;
}
.box .content::before{
    position: absolute;
    content: '';
    top:-10px;
    height: 2px;
    width: 100%;
    background:#1a1a1a;
}
.box .content::after{
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: #f12020;
    top:-10px;
}
.left .content p{
    font-size:15px ;
    color:#000;
}
.left .content .social{
    margin:20px 0 0 0  ;
}
.left .content .social a{
    color:#000;
    padding: 0 2px;
    text-decoration:none;
}
.left .content .social a span{
    height: 30px;
    width: 30px;
    background: #f26d35;
    line-height: 30px;
    text-align: center;
    font-size: 15px;
    border-radius: 5px ;
    transition: 0.3s;
}
.left .content .social a span:hover{
    background:#123f6e;
    border:.1rem solid #f26d35;
    color: #cf521c;
}
.center .content .fas{
    font-size: 1.4375rem;
    background: #f26d35;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}
.center .content .fas:hover{
    background:#123f6e;
    border:.1rem solid #f26d35;
    color: #cf521c;
}
.center .content .text{
    font-size: 1.5rem;
    font-weight: 500;
    padding-left: 10px;
    color:#000;
}
.center .content .phone{
    margin: 10px 0;
}
.right form .email .text,
.right form .msg .text{
    font-size: 1.6rem;
    color:#000;
}
.right form .msg{
    font-size: 1.0625rem;
    margin-bottom: 2px;
    /* color: #656565; */
    color:#000;
}
.right  form .msg{
    margin-top: 10px;
}
.right form input, .right form textarea{
    width: 100%;
    padding-top: 10px;
    font-size: 1.5rem;
    background: #f7f4f4 ;
    padding-left: 10px;
    border: 1px solid #222222;
    color:#000;
}
.right form input:focus,
.right form textarea:focus{
    outline-color: #3498db ;
}
.right form input{
    height: 35px;
}
.right form .submit{
    margin-top: 10px;
}
.right form .submit button{
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background: #f26d35;
    opacity: 0.8;
    font-size: 1.6025rem;
    font-weight:500 ;
    cursor: pointer;
    transition: .3s;
}
.right form .submit button:hover{
    background:#3178c4;
    border:.1rem solid #f26d35;
    color: #cf521c;
    transition: all .2s ease;
    font-weight: bold;
    position: relative;
    z-index: 1;
    
}
.bottom .theEnd{
    text-align: center;
    padding: 20px;
    font-size: 0.9375rem;
    background:#021d3a;
} 
.bottom .theEnd span{
    color:#fff;
    font-size: 1rem;
}
.bottom .theEnd a{
    color: #f26d35;
    
}
.bottom .theEnd a:hover{
    text-decoration: underline;
    transition: all .2s ease;
}
@media screen and (max-width: 900px) {
    footer{
        position: relative;
        bottom: 0px;
    }
    .main-content{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main-content .box{
        margin: 5px 0;
    }
}
/* footer end */

/*Responsive*/

/* tablet */
@media (max-width:991px) {

}
@media(max-width:414px){
    .gioithieu h3 span{
        font-size: 5rem;
       padding: 4px;
        
    }
    .box{
        padding:10px;
        margin:0;
        display:inline-block;
    }
    .event{
        padding:0px;
    }
    .event-container{
        max-width: 414px;
        margin:0;

    }
    .event-item{
        width:100%;
        margin-bottom:20px;
      
    }
    .event-img{
        width:100%;
        height:200px;
      
    }
    .event-row{
        display: block;
       
    }
    .event-item h2,.event-item p {
        padding:0 10px;
    }
    .about-item{
        width:100%;
        margin: 10px 0;
      
    }
    
    .about-item p{
        width:414px;
    }
    .main-content{
        width:100%;
        padding:0px;
        margin-top: 30px;
    }

    
    
}

